*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Zen Maru Gothic", sans-serif;
    /* outline: 1px solid lightblue; */
}

abbr {
    text-decoration: none;
}

code {
    font-family: "Fira Code", monospace;
    font-weight: 400;
}

a:any-link {
    text-decoration: none;
}

a:any-link:hover {
    color: rgb(0, 100, 100);
    outline: solid 1px black;
}

abbr:hover {
    text-decoration: dashed underline;
}

body {
    width: min(660px, calc(70% + 100px));
    margin: 8em auto;
}

.display {
    display: inline-block;
    margin-bottom: 0.5em;
    font-size: 3.5em;
    text-transform: capitalize;
}

.grids {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.grids section {
    transition: all .3s ease-in-out;
    border-radius: 6px;

    /* flex stuff */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;

    /* minimal layout */
    min-width: 100%;
    min-height: 100%;
    padding: 0.8em;
}

.grids section:hover {
    box-shadow: 0 0 2em 8px rgba(0, 255, 255, 0.45), inset 0 0 1em 4px rgba(0, 255, 255, 0.35);
    scale: 1.05;
}

@media screen and (max-width: 480px) {
    .display {
        font-size: 2.8em;
    }
    .grids {
        grid-template-columns: 1fr 1fr;
    }
}