*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Zen Maru Gothic", sans-serif;
    /* outline: 1px solid lightblue; */
}

code {
    font-family: "Fira Code", monospace;
    font-weight: 400;
}